* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;

}

p {
    padding: 4px 8px;
    display: inline-block;
    border-radius: 10px;
}

.image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #333;
}

#users-online {
    display: flex;
    gap: 10px;
    margin: 50px 50px 0 50px;
}

.user {
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.top {
    margin: 50px 0 20px 50px;
}

#form {
    margin-left: 50px;
    background-color: #fff;
    width: 1000px;
    height: 500px;
    display: flex;
    border-radius: 12px;
}

.list-chat {
    width: 30%;
    height: 100%;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}
.chat-item:hover {
    background-color: #ccc;
}

.info {
    display: flex;
    flex-direction: column;
}

.info p {
    padding: 0;
}

.info p:first-child {
    font-weight: bold;
}

.details-chat {
    border-left: 1px solid #ccc;
    width: calc(70% - 1px);
    height: 100%;
    position: relative;
}

.chat {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;
    height: calc(100% - 100px);
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}




.chat .sender {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.receiver p {
    background-color: #ccc;
}

.sender p {
    background-color: #007bff;
}

.chat-top {
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 50px;
}

.chat-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

input {
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
input:focus {
    outline: none;
    border: 1px solid #007bff;
}


button {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}